@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;700&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700&family=Open+Sans:wght@400;600;700&display=swap");

:root {
  --pink: #ff046f;
  --violet: #c63bfa;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

body {
  font-size: 16px;
  width: 100%;
  overflow-x: hidden;
  font-family: "Josefin Sans", sans-serif;
  outline: none;
}

.heading {
  color: var(--pink);
  font-size: 220%;
  font-weight: 300;
  margin: 0;
  text-align: center;
}

.title {
  color: #aaa;
  font-size: 130%;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  width: 90%;
}

section {
  padding-top: 60px;
}

/* header */

header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  position: absolute;
  top: 20px;
  padding: 0 40px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  width: 96%;
  z-index: 9999;
}

.header-active {
  position: fixed;
  width: 100%;
  top: 0;
  border-radius: 0;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

header .navbar ul {
  display: flex;
}

header .navbar ul li {
  list-style: none;
  margin-right: 10px;
  padding-right: 10px;
}

header .navbar ul li a {
  text-decoration: none;
  color: var(--pink);
  font-size: 125%;
}

header .navbar ul li:hover a {
  color: var(--violet);
}

header .logo {
  cursor: pointer;
  color: var(--violet);
  text-decoration: none;
  font-size: 170%;
  text-transform: uppercase;
}

header .logo i {
  color: var(--pink);
  padding-right: 10px;
}

header .fa-bars {
  display: none;
  color: var(--pink);
  font-size: 150%;
  cursor: pointer;
  transition: 0.2s;
}

header .fa-times {
  transform: rotate(180deg);
  color: var(--violet);
}

/* home section */

.home {
  background: linear-gradient(rgba(198, 59, 250, 0.8), rgba(198, 59, 250, 0.8)),
    url("../img/bg.jpg");
  min-height: 100vh;
  width: 100%;
  position: relative;
  z-index: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.home .hero {
  width: 100%;
  padding-top: 120px;
  text-align: center;
}

.home .hero h1 {
  color: #fff;
  font-size: 240%;
  text-transform: uppercase;
}

.home .hero p {
  color: #eee;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 15px;
}

.home .hero button {
  height: 40px;
  width: 180px;
  border-radius: 25px;
  background-color: var(--pink);
  color: #fff;
  font-size: 130%;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  transition: 0.2s;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.home .hero button:hover {
  letter-spacing: 1.5px;
}

.home .boxContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px 0 0 0;
}

.home .boxContainer .box {
  text-align: center;
  background-color: #fff;
  margin-right: 40px;
  margin-bottom: 10px;
  width: 250px;
  padding: 20px 0;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.home .boxContainer .box:hover i {
  background-color: var(--pink);
}

.home .boxContainer .box i {
  color: #fff;
  font-size: 30px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  background-color: var(--violet);
  margin-bottom: 10px;
}

.home .boxContainer .box h3 {
  font-size: 120%;
  color: var(--pink);
  margin-bottom: 5px;
  padding: 0 10px;
}

.home .boxContainer .box p {
  color: #999;
  font-size: 100%;
  font-weight: 400;
  padding: 0 5px;
}

.home::after {
  z-index: -1;
  content: "";
  width: 120%;
  border: 100px solid #fff;
  position: absolute;
  left: 50%;
  bottom: -60px;
  transform: translateX(-50%);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

/* about section */

.about .boxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .boxContainer h3 {
  color: var(--pink);
  font-size: 200%;
  width: 70%;
  margin-bottom: 15px;
}

.about .boxContainer p {
  width: 90%;
  margin-bottom: 20px;
  color: #999;
}

.about .boxContainer button {
  border: none;
  width: 160px;
  height: 40px;
  color: #fff;
  font-size: 115%;
  background-color: var(--violet);
  border-radius: 25px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.about .boxContainer button:hover {
  letter-spacing: 1px;
  opacity: 0.7;
}

.about .boxContainer .box {
  padding-left: 50px;
}

.about .boxContainer img {
  width: 40vw;
  height: 70vh;
  margin-top: 10px;
  object-fit: cover;
}

/* teacher section */

.teacher .boxContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 25px;
}
.teacher .boxContainer .box {
  margin: 20px;
  width: 250px;
  padding: 10px;
  height: auto;
  background-color: #fff;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.teacher .boxContainer .box img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  filter: grayscale();
}

.teacher .boxContainer .box:hover img {
  filter: grayscale(0);
}

.teacher .boxContainer .box h4 {
  color: var(--pink);
  font-size: 120%;
  text-align: center;
}

.teacher .boxContainer .box p {
  color: #999;
  font-size: 110%;
  font-weight: 400;
  text-align: center;
}

.teacher .boxContainer .box a {
  color: var(--pink);
  font-size: 120%;
  text-decoration: none;
  margin-top: 10px;
  padding: 5px;
}

.teacher .boxContainer .box .icons {
  text-align: center;
}

.teacher .boxContainer .box a:hover {
  color: var(--violet);
}

/* courses section */

.courses .boxContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
}

.courses .boxContainer .box {
  width: 300px;
  background-color: #fff;
  padding: 20px;
  margin: 30px;
  border-right: 2px solid var(--violet);
  border-bottom: 2px solid var(--violet);
  border-radius: 10px;
  text-align: center;
}

.courses .boxContainer .box i {
  font-size: 160%;
  color: #fff;
  background-color: var(--pink);
  width: 100px;
  height: 100px;
  line-height: 80px;
  text-align: center;
  border: 10px solid #fff;
  border-radius: 50%;
  border-left: 10px solid var(--pink);
  border-right: 10px solid var(--pink);
  box-shadow: 0 0 0 10px inset #fff;
}

.courses .boxContainer .box h3 {
  color: var(--violet);
  font-weight: 600;
  margin-bottom: 10px;
}

.courses .boxContainer .box p {
  color: #999;
  font-size: 105%;
}

/* review section */
.review .boxContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
}
.review .boxContainer .box {
  background-color: #fff;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
  width: 250px;
  padding: 25px;
  text-align: center;
  margin: 20px;
  border-radius: 10px;
}

.review .boxContainer .box img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50px;
  border: 6px solid var(--pink);
  border-top: 6px solid var(--violet);
  border-right: 6px solid var(--violet);
}

.review .boxContainer .box h6 {
  font-size: 130%;
  color: var(--pink);
  margin-top: 10px;
  margin-bottom: 5px;
}
.review .boxContainer .box p {
  font-size: 105%;
  color: #999;
}

.review .boxContainer .box div {
  margin-top: 10px;
}

.review .boxContainer .box div i {
  color: var(--violet);
}

/* contact section */

.contact {
  background-color: rgb(22, 22, 22);
  padding-bottom: 20px;
}

.contact .boxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contact .boxContainer .box {
  width: 50%;
}

.contact .boxContainer .box input,
textarea {
  display: block;
  margin: 30px;
  width: 80%;
  height: 40px;
  border-radius: 10px;
  border: none;
  resize: none;
  padding-left: 20px;
  color: var(--pink);
}

textarea {
  padding-top: 10px;
  height: 100px;
}

.contact .boxContainer .box img {
  width: 50vw;
  height: auto;
  object-fit: contain;
}

.contact .boxContainer .box input:focus,
textarea:focus {
  outline: none;
}

.contact .boxContainer .box button {
  width: 180px;
  height: 40px;
  border-radius: 20px;
  margin-left: 30px;
  border: none;
  background-color: var(--pink);
  color: #fff;
  font-size: 120%;
}

.contact .boxContainer .box button:hover {
  background-color: transparent;
  color: var(--pink);
  border: 1px solid var(--pink);
}

/* footer  */
footer {
  text-align: center;
  padding: 30px;
}

footer .icons {
  padding-bottom: 20px;
  border-bottom: 1px solid #999;
  width: 90%;
  margin: 0 auto;
}

footer .icons a {
  margin-right: 3px;
  width: 50px;
  height: 50px;
  line-height: 47px;
  text-align: center;
  border-radius: 30px;
  font-size: 150%;
  border: 2px solid var(--violet);
  color: var(--violet);
  text-decoration: none;
}

footer .icons a:hover {
  background-color: var(--pink);
  color: #fff;
}

.credit {
  font-size: 130%;
  margin-top: 20px;
  color: #aaa;
}

.credit span {
  color: var(--pink);
}
